<div>
    <a [routerLink]="['/admin/auctions']" class="btn btn-primary">
        Auctions
    </a>
    <a [routerLink]="['/admin/product-auctions']" class="btn btn-primary">
        Product Auctions
    </a>
    <!-- <a [routerLink]="['/admin/auction/new']" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> New Auctions
    </a>
    <a [routerLink]="['/admin/product-auction/new']" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> New Product Auctions
    </a> -->
</div>