<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="m-r-md m-l-md auction">
      <h3>Auction</h3>
      <div class="row m-t-md">
        <div class="col-sm-7">
          <img class="img-responsive" [src]="'/static/images/' + currentProductAuction.product.image" >
        </div>
        <div class="col-sm-5">
          <div class="well">
            <h4>{{currentProductAuction.product.title}}</h4>
            <p>
              Price:
              <span class="text-medium">$ {{currentProductAuction.product.price}} </span>
            </p>
            <p class="text-medium">
              {{currentProductAuction.product.description}}
            </p>
            <p>
              Time Left:
              <span class="text-medium">{{currentProductAuction.duration - productAuctionRunningDuration}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
